body{
    margin: 0;
}
h1{
    color:red
}
.navigation{
    background: lightgrey;
    display: flex;
    position: sticky;
    top: 0px;

}
.menu{
    display:flex;
    gap: 15px;
    align-items: center;
}
.logo{
    flex-grow: 1;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;


}

.item{
   color:black; 
}
.item:hover{
    font-weight: bold;
}